.spinnable {
  position: relative;
}

.spinning::before,
.spinning::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: 2;
  pointer-events: none;
}

.spinning::before {
  width: 100%;
  height: 100%;
  background-color: rgba(211, 211, 211, 0.8);
}

.spinning::after {
  margin: auto;
  width: 32px;
  height: 32px;
  border: 4px solid #4ea6ea;
  border-left-color: transparent;
  border-top-color: transparent;
  border-radius: 50%;
  -webkit-animation: spin 600ms infinite linear;
  animation: spin 600ms infinite linear;
}

@-webkit-keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(359deg); }
}

a {
  color: #337ab7;
  text-decoration: none;
}

/* Basic style elements */
h1,
h2,
h3 {
  font-weight: 400;
}

h1,
.alpha {
  color: #0577b1;
  font-size: 2.5em;
}

h2,
.beta {
  color: #0736a4;
  font-size: 1.7em;
}

h3,
.gamma {
  color: #6a6a6a;
  font-weight: 700;
}

h4,
.delta {
  color: #2f5b99;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.9em;
}

h5,
.epsilon {
  color: #c30;
  font-weight: 700;
  font-size: 0.9em;
}

table {
  td {
    padding: 0.2em 10px;
  }

  th {
    padding: 0.2em 5px;
  }
}

.l-ss-wrapper {
  margin: 0 5%;
  width: 90%;
}

.ss-menu {
  margin: 0;
  padding: 0;

  .ss-menu-leaf {
    display: inline-block;
  }
}

#l-ss-header-container {
  padding: 0;
  background: radial-gradient(closest-corner at 70% 40%, #063996, #052768);
  background-color: #063996;
  background-position: 70% 40%;
  background-repeat: no-repeat;

  .ss-header-first,
  .ss-header-second {
    display: block;
    float: left;
    clear: both;
    width: 100%;
    text-align: center;
  }

  .ss-header-first {
    /* text-align: left; */

    h1 {
      text-indent: -4000px;
    }

    img {
      margin: 3% 0;
      max-width: 159px;
      width: 100%;
      height: auto;
    }
  }

  .ss-header-second {
    padding: 0;

    a {
      margin-left: 5px;
      border-bottom: 1px dashed #fff;
      color: #fff;
      text-decoration: none;

      &:hover {
        border-bottom-style: solid;
      }
    }
  }
}

@media only screen and (min-width: 500px) {
  #l-ss-header-container {
    .ss-header-first,
    .ss-header-second {
      display: block;
      float: left;
      clear: none;
      text-align: left;
    }

    .ss-header-first {
      width: 40%;
    }

    .ss-header-second {
      width: 59%;
      text-align: right;

      /* utitlity menu nav */

      .ss-menu {
        text-align: right;
      }

      .ss-menu-leaf {
        margin: 5% 0;
      }
    }
  }
}

nav {
  .container-fluid {
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 0;
    padding-right: 0;
  }
}

.ss-header-name {
  color: #ffd960;
  font-family: "Open Sans", sans-serif;
  max-width: 191px;
  // font-size: 200%;
  font-size: 275%;
  white-space: nowrap;
  display: inline-block;
  // vertical-align: middle;
  vertical-align: -15%;
}

.l-ss-main {
  padding-bottom: 30px;
}

.table-no-border {
  > tbody,
  > tfoot,
  > thead {
    > tr {
      > td,
      > th {
        border: none;
      }
    }
  }
}

tspan {
  font-size: 1.3em;
  font-weight: normal;
}

.graph-tip {
  font-size: 0.7em;
}

g.label {
  color: black;
}

/* Styles for content area */

.ss-error,
.ss-warning,
.ss-notice,
.ss-success {
  margin: 1.5em;
  padding: 0.666em;
}

.ss-error {
  border: 1px solid red;
  background: #fee;
}

.ss-warning {
  border: 1px solid #ff0;
  background: #ffe;
}

.ss-notice {
  border: 1px solid #00f;
  background: #eef;
}

.ss-success {
  border: 1px solid #0f0;
  background: #efe;
}
