%html.no-js
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %title= respond_to?(:title_str) ? title_str : app_class_name
    %meta{:content => "", :name => "description"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    -# = favicon_link_tag 'ssiapp/favicon.ico'
    -# = stylesheet_link_tag "ssiapp/application", :media => "all", 'data-turbolinks-track' => true
    -# = stylesheet_link_tag "application", :media => "all", 'data-turbolinks-track' => true
    -# = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    = csp_meta_tag
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    = stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
  %body
    #l-ss-header-container
      %header.l-ss-wrapper.clearfix
        .ss-header-first
          - logo_path = (defined?(logo) ? logo : 'vendor/ssiapp/logo.png')
          %a{:href => "/"}
            = image_pack_tag logo_path
            %span.ss-header-name= respond_to?(:application_name) ? application_name : app_class_name
          %h1.sr-only Duke University
        .ss-header-second
          %nav
            - if defined?(secondary_nav_links)
              %ul.ss-menu
                - secondary_nav_links.each do |link|
                  %li.ss-menu-leaf= link
    - if defined? nav_links
      %nav.navbar.navbar-default.navbar-expand-lg.navbar-light.bg-light
        .container-fluid
          %ul.navbar-nav
            - nav_links.each do |link_info|
              %li{:class => "nav-item #{link_info[:class]}"}= link_info[:link].html_safe
          - if defined? nav_right
            .navbar-right
              = nav_right
    .l-ss-wrapper.l-ss-main.clearfix
      - if flash[:success]
        .ss-success
          = flash[:success]
      - if flash.notice
        .ss-notice
          = flash.notice
      - if flash.alert
        .ss-error
          = flash.alert
      %div{:class => "#{params[:controller]}_#{params[:action]}"}
        = yield
